<div class="contenedorGlobal">
    <div class="columnasTareas">
        <h1>Tareas Creadas</h1>
        <div class="contenedorColumnas" id="contenedorColumnasID">
            <div class="columna">
                <div class="tareaCreada" id="4">
                    <h3 id="tareaName">Nombre Tarea</h3>
                    <label for="prioridas">Prioridad: </label>
                    <label for="valor" id="prioridad">Baja</label><br>
                    <label for="Descripcion">Descripcion: </label>
                    <label for="Descripcion" id="desc">Hacer formulario </label><br>
                    <div class="botonesMovimiento">
                        <button class="izquierda" id="izquierda" (click)="moverIzquierda()">I</button>
                        <button class="derecha" id="derecha" (click)="moverDerecha()">D</button>
                    </div>
                </div>
            </div>
            <div class="columna"></div>
            <div class="columna"></div>
            <div class="columna"></div>   
        </div>
    </div>
</div>
